{% extends 'admin.html.twig' %}

{% block title %}
        Modifier Le Produit
      {% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    {{ form_start(edit_form) }}
                    <div class="card-header card-header-text" data-background-color="blue">
                        <h4 class="card-title"> Modifier Produits </h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> Fournisseur :</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div >
                                            <label class="control-label"></label>
                                            {{ form_widget(edit_form.fournisseurs, { 'attr': { 'class' : 'selectpicker','data-style' : 'btn btn-primary btn-round' } }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left">Type Produit :</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{ form_widget(edit_form.type_produit, { 'attr': {'class' : 'selectpicker','data-style' : 'btn btn-primary btn-round' } }) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> Nom :</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating ">
                                            <label class="control-label">Nom Ex: IPTV</label>
                                            {{ form_widget(edit_form.nom) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> Prix :</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Prix Dachat : 35DT</label>
                                            {{ form_widget(edit_form.prixAchat) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Prix d'vente : 70DT</label>
                                            {{ form_widget(edit_form.prixVend ) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Prix Revendeur : 55DT</label>
                                            {{ form_widget(edit_form.prixRevend ) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> Etat d'vente :</label>
                            <div class="col-md-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Etat O/N</label>
                                    {{ form_widget(edit_form.vendu) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> Durée :</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating ">
                                            <label class="control-label">Durée d'abonnement Ex: 12</label>
                                            {{ form_widget(edit_form.abonnement) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-info">Modifier </button>
                            </div>

                            <div class="col-sm-3">
                                <a  class="btn btn-fill-info" href="{{ path('produits_index') }}">Retour à la liste</a>
                                {{ form_end(edit_form) }}
                            </div>
                            <div class="col-sm-2">
                                <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <p style=" font-size: 15px; font-weight: bold;" > Confirm Submit </p>
                                                            </div>
                                                            <div class="modal-body">  
                                                                <p style="color:red; font-size: 15px; font-weight: bold;"> Tu est sur de supprimer Le Produit {{ produit.nom }} !? </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-success success" data-dismiss="modal">Annuler</button>
                                                                <a href="{{ path('produits_delete', { 'id': produit.id }) }}" id="submit" class="btn btn-danger danger">Supprimier</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                   <a class="btn btn-rose " name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit"  rel="tooltip" class="btn btn-danger btn-simple"> Supprimier
                                                   </a>
                                               
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
