{% extends 'base.html.twig' %}

      {% block title %}
        Liste Des Produits
      {% endblock %}

      {% block recherche %}

<form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-search is-empty">
                      <input type="text" id="recherche" class="form-control" placeholder="Recherche" >
                      <span class="material-input"></span>
                    </div>
                    <a id ="rech"  onclick = "recherche()" style="margin:0;" class="btn btn-white btn-round btn-just-icon" >
                      <i class="material-icons">search</i>
                      <div class="ripple-container"></div>
                    </a>
                  </form>
{% endblock %}
{% block body %}

                <div class="row">
                    <div class="col-sm-7">
                        <nav class="menu-navigation-basic">
                                <a href="{{path('admin_homepage')}}" style=" font-size: 15px; font-weight: bold;" href="#" class="selected">Accueil</a>
                                <a style=" font-size: 15px; font-weight: bold;" id="rechvend" onclick="rechvend()">Produits Vendue</a>
                                <a style=" font-size: 15px; font-weight: bold;" id="rechnonvend" onclick="rechnonvend()">Produits Non Vendue</a>
                            </nav>
                    </div>
                    <div class="col-sm-2">
                        <select value="1" onchange ="rechtypeproduit()"  class="selectpicker" data-style= "btn btn-warning" id="typeProduit">
                                                <option selected="false" disabled="disabled"> type Produit </option>
                                                {% for typeProduit in typeProduit %}
                                                    <option value="{{ typeProduit.type }}"> {{ typeProduit.type }}</option>
                                                {% endfor %}
                                            </select>
                    </div>
                    <div class="col-sm-2">
                        <select value="2" onchange ="rechfournisseurs()"  class="selectpicker" data-style= "btn btn-warning" id="fournisseurs">
                            <option selected="false" disabled="disabled"> fournisseurs </option>
                            {% for founisseurs in founisseurs %}
                                <option value="{{ founisseurs.nom }}"> {{ founisseurs.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                       

<div id="loading"></div>
    <div class="container-fluid" id="tab_vende">
                   <div class="row">
                       <div class="col-md-12">
                           <div class="card">
                            <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons"> <a href="{{ path('produits_index') }}" > shopping_cart</a></i>
                    </div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>

                                    <th class="text-center"> <a style=" color : black; font-weight: normal;" href="{{ path('fournisseurs_index') }}" >Fournisseur </a></th>
                                    <th class="text-center"><a style=" color : black; font-weight: normal;" href="{{ path('type_produit_index') }}" > Type Produit </a></th>
                                    <th class="text-center"> Nom </th>
                                    <th class="text-center"> Prix Achat </th>
                                    <th class="text-center"> Prix Vendue</th>
                                    <th class="text-center"> Vendue </th>
                                    <th class="text-center">Actions</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for produit in produits %}
                                    {% if produit is not empty %}
                                <tr>

                                    <td class="text-center">{{ produit.fournisseurs }}</td>
                                    <td class="text-center">{{ produit.typeProduit }}</td>
                                    <td class="text-center">{{ produit.nom }}</td>
                                    <td class="text-center" style=" color : red; font-weight: bold;">{{ produit.prixAchat }} Dt</td>
                                    <td class="text-center" style=" color : green; font-weight: bold;">{{ produit.prixVend }} Dt</td>
                                    <td class="text-center">{% if produit.vendu is not empty %} Oui {% else %} Non {% endif %}</td>
                                    <td class="text-center">
                                               <span>  <a href="{{ path('produits_edit', { 'id': produit.id }) }}"  rel="tooltip" class="btn btn-success btn-simple">
                                                       <i class="material-icons">edit</i>
                                                   </a>
                                                   <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <p style=" font-size: 15px; font-weight: bold;" > Confirm Submit </p>
                                                            </div>
                                                            <div class="modal-body">  
                                                                <p style="color:red; font-size: 15px; font-weight: bold;"> Tu est sur de supprimer Le Produit {{ produit.nom }} !? </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-success success" data-dismiss="modal">Annuler</button>
                                                                <a href="{{ path('produits_delete', { 'id': produit.id }) }}" id="submit" class="btn btn-danger danger">Supprimier</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                   <a name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit"  rel="tooltip" class="btn btn-danger btn-simple">
                                                       <i class="material-icons">close</i>
                                                   </a>
                                                   {% if produit.vendu == '0' %} 
                                                <a href="{{ path('produits_addvend', { 'id_prod': produit.id }) }}"  rel="tooltip" class="btn btn-success btn-simple">
                                                       <i class="material-icons">send</i>
                                                   </a>
                                                 {% endif %}
                                               </span></td>

                                               </tr>
                                {% endif %}

                                {% else %}
                                    <tr>
                                        <td style=" color : red; font-size: 15px; font-weight: bold;" class="text-center">
                                            Pas des Produits !
                                        </td>
                                    </tr> 

                                {% endfor %}

                                </tbody>
                            </table>


                        </div>
                    </div>


                </div>
                
    <div class="col-md-3 col-md-offset-9">
        <a href="{{ path('produits_new') }}"  class="btn btn-info" >Ajouter Produits</a><div class="ripple-container"></div>
        </a>
            </div>

        </div>
        <ul class="navigation">
        {{ knp_pagination_render(produits) }}
    </ul>

    </div>
    </div>
    </div>
    
    


{% endblock %}


{% block css %}
	<link rel="stylesheet" href="{{ asset('assets/css/navigation-basic.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/slicknav/slicknav.min.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ asset('assets/slicknav/jquery.slicknav.min.js') }}"></script>
{% endblock %}