{% extends 'admin.html.twig' %}

{% block title %}
        Modifier Le revendeur {{ revendeur.nom }} {{ revendeur.prenom}}
      {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    {{ form_start(edit_form) }}
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons"> <a href="{{ path('revendeur_index') }}" > local_shipping</a></i>
                    </div>
                    <div class="card-content">
                        <div class="row"> </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left">Nom & Prénom :</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Nom Ex:Bahri </label>
                                            {{ form_widget(edit_form.nom) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Prenom Ex:Mahdi</label>
                                            {{ form_widget(edit_form.prenom) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left">Numéro :</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Numéro portable: 99063811</label>
                                            {{ form_widget(edit_form.numTel) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Numéro Fixe:73430017</label>
                                            {{ form_widget(edit_form.numFix )}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> Adresse & Email :</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Adress Ex:Avenue Habib Bourguiba</label>
                                            {{ form_widget(edit_form.adress) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email Ex: ttshopsayada@gmail.com</label>
                                            {{ form_widget(edit_form.email) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                                           <label class="col-sm-2 label-on-left"> Prix de Credit :</label>
                                               <div class="col-sm-10">
                                                   <div class="row">
                                                       <div class="col-md-4">
                                                           <div class="form-group label-floating ">
                                                               <label class="control-label">Credit Ex: 10dt</label>
                                                              {{ form_widget(edit_form.credit) }}
                                                           </div>
                                                        </div>
                                                       <div class="col-md-4">
                                                           <div class="form-group label-floating">
                                                               <label class="control-label">Deponse Ex: 10dt</label>
                                                               {{ form_widget(edit_form.deponse) }}
                                                           </div>
                                                       </div>
                                                   </div>
                                                </div>
                                            </div>
                        <div class="row">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-info">Modifier </button>
                            </div>

                            <div class="col-sm-3">
                                <a  class="btn btn-fill-info" href="{{ path('revendeur_index') }}">Retour à la liste</a>
                                {{ form_end(edit_form) }}
                            </div>
                            <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <p style=" font-size: 15px; font-weight: bold;" > Confirm Submit </p>
                                                            </div>
                                                            <div class="modal-body">  
                                                                <p style="color:red; font-size: 15px; font-weight: bold;"> Tu est sur de supprimer Le revendeur {{ revendeur.nom }} {{ revendeur.prenom }} !? </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-success success" data-dismiss="modal">Annuler</button>
                                                                <a href="{{ path('revendeur_delete', { 'id': revendeur.id }) }}" id="submit" class="btn btn-danger danger">Supprimier</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                   <a name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit"  rel="tooltip" class="btn btn-danger">
                                                       Supprimrier
                                                   </a>
                                               
                    </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}



