{% extends 'admin.html.twig' %}

{% block title %}
        Liste Des Revendeurs
      {% endblock %}

      {% block recherche %}

<form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-search is-empty">
                      <input type="text" id="recherche" class="form-control" placeholder="Recherche" >
                      <span class="material-input"></span>
                    </div>
                    <a id ="rech"  onclick = "recherche()" style="margin:0;" class="btn btn-white btn-round btn-just-icon" >
                      <i class="material-icons">search</i>
                      <div class="ripple-container"></div>
                    </a>
                  </form>
{% endblock %}
{% block body %}

        
    
 <div id="loading"></div>
    <div class="container-fluid" id="tab_vende">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                
                                <div class="card-content">
                                    <div class="toolbar">
                                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                                    </div>
                                    <div class="material-datatables">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                
                                                <tr>
                                   <th class="text-center"> Nom </th>
                                    <th class="text-center"> Prénom</th>
                                    <th class="text-center"> Num Téléphone</th>
                                    <th class="text-center"> Num Fix </th>
                                    <th class="text-center"> adresse</th>
                                    <th class="text-center"> Email </th>
                                    <th class="text-center">Actions</th>

                                </tr>
                                </thead>
                                <tbody>
                                    {% for revendeur in revendeurs %}
                                        <tr>
                                            <td class="text-center">{{ revendeur.nom }}</td>
                                            <td class="text-center">{{ revendeur.prenom }}</td>
                                            <td class="text-center">{{ revendeur.numTel }}</td>
                                            <td class="text-center">{{ revendeur.numFix }}</td>
                                            <td class="text-center">{{ revendeur.email }}</td>
                                            <td class="text-center">{{ revendeur.adress }}</td>
                                            <td class="text-center">
                                               <span>  <a href="{{ path('revendeur_edit', { 'id': revendeur.id }) }}"  rel="tooltip" class="btn btn-success btn-simple">
                                                       <i class="material-icons">edit</i>
                                                   </a>
                                                    <a href="{{ path('revendeur_show', { 'id': revendeur.id }) }}"  rel="tooltip" class="btn btn-danger btn-simple">
                                                       <i class="material-icons">remove_red_eye</i>
                                                   </a>
                                                   <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <p style=" font-size: 15px; font-weight: bold;" > Confirm Submit </p>
                                                            </div>
                                                            <div class="modal-body">  
                                                                <p style="color:red; font-size: 15px; font-weight: bold;"> Tu est sur de supprimer Le Revendeur {{ revendeur.nom }} {{ revendeur.prenom }} !? </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-success success" data-dismiss="modal">Annuler</button>
                                                                <a href="{{ path('revendeur_delete', { 'id': revendeur.id }) }}" id="submit" class="btn btn-danger danger">Supprimier</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                   <a name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit"  rel="tooltip" class="btn btn-danger btn-simple">
                                                       <i class="material-icons">close</i>
                                                   </a>
                                               </span></td>

                                               </tr>
                                           {% endfor %}
                                </tbody>
                            </table>
                        <ul class="navigation">
                            {{ knp_pagination_render(revendeurs) }}
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
               <div class="col-md-3 col-md-offset-9">
               <a href="{{ path('revendeur_new') }}"  class="btn btn-info" >Ajouter Revendeur</a><div class="ripple-container"></div>
               </a>
                    <!--<a href="{{ path('revendeur_index') }}"  class="btn btn-info" > Liste revendeur</a>-->
               </div>
           </div>



{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset('assets/css/navigation-icons.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/slicknav/slicknav.min.css') }}">
            <script src="{{ asset('assets/js/modernizr.custom.js') }}"></script>

	<link rel="stylesheet" href="{{ asset('assets/css/component1.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/default1.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ asset('assets/slicknav/jquery.slicknav.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.dlmenu.js') }}"></script>
		<script>
			$(function() {
				$( '#dl-menu' ).dlmenu({
					animationClasses : { classin : 'dl-animate-in-5', classout : 'dl-animate-out-5' }
				});
			});
		</script>
{% endblock %}
