{% extends 'abonn.html.twig' %}

{% block recherche %}

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-search is-empty">
                      <input type="text" id="recherche" class="form-control" placeholder="Recherche" >
                      <span class="material-input"></span>
                    </div>
                    <a id ="rech"  onclick = "recherche()" style="margin:0;" class="btn btn-white btn-round btn-just-icon" >
                      <i class="material-icons">search</i>
                      <div class="ripple-container"></div>
                    </a>
                </form>
{% endblock %}

{% block body %}
    
<div id="loading"></div>
    <div class="container-fluid" id="tab_vende">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                
                                <div class="card-content">
                                    <div class="toolbar">
                                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                                    </div>
                                    <div class="material-datatables">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"><a style=" color : black; font-weight: normal;" href="{{ path('type_produit_index') }}" > Nom Produit </a></th>
                                                    <th class="text-center">Code Achat</th>
                                                    <th class="text-center">Prix Achat</th>
                                                    <th class="text-center">Date Activation</th>
                                                    <th class="text-center">Date Expiration</th>
                                                    <th class="text-center">Credit</th>
                                                    <th class="text-center">Deponse</th>
                                                    <th class="text-center">Abonnement</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                <tbody>
                                {% for revendeur in revendeurs %}
                                    {% if revendeur is not empty %}
                                    <tr {% if  revendeur.restPay > 0 %} style="color:red;" {% endif %}>
                                        <td class="text-center"><b>{{ revendeur.produits }}</b></td>
                                        <td class="text-center"><b>{{ revendeur.code }}</b></td>
                                        <td class="text-center" style=" color : green; font-weight: bold;">{{ revendeur.prixAchat }} DT</td>
                                        <td class="text-center">{{ revendeur.dateAc|date("Y-m-d") }}</td>
                                        <td class="text-center" style=" color : red; font-weight: bold;">{{ revendeur.dateEx |date("Y-m-d")}}</td>
                                        
                                        {% if  revendeur.restPay > 0 %}
                                            <td class="text-center" style=" color : red; font-weight: bold;">{{ revendeur.restPay }}</td>
                                            <td class="text-center" style=" color : green; font-weight: bold;">{{ revendeur.deponse }}</td>
                                        {% else %}
                                            <td class="text-center" style=" color : green; font-weight: bold;">Non</td>
                                            <td class="text-center" style=" color : green; font-weight: bold;">Payer</td>
                                        {% endif %}
                                        <td class="text-center"><b>{{ revendeur.abonner }} Mois</b></td>
                                        
                                        <td class="text-center">
                                               <span>  <a href="{{ path('revendeur_edit', { 'id': revendeur.id }) }}"  rel="tooltip" class="btn btn-success btn-simple">
                                                       <i class="material-icons">edit</i>
                                                   </a>
                                                 <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <p style=" font-size: 15px; font-weight: bold;" > Confirm Submit </p>
                                                            </div>
                                                            <div class="modal-body">  
                                                                <p style="color:red; font-size: 15px; font-weight: bold;"> Tu est sur de supprimer cette revendeur !? </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-success success" data-dismiss="modal">Annuler</button>
                                                                <a href="{{ path('revendeur_delete', { 'id': revendeur.id }) }}" id="submit" class="btn btn-danger danger">Supprimier</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                   <a name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit"  rel="tooltip" class="btn btn-danger btn-simple">
                                                       <i class="material-icons">close</i>
                                                   </a>
                                               </span></td>

                                               </tr>
                                {% endif %}

                                {% else %}
                                    
                                        <tr>
                                            <td class="text-center" style=" color : red; font-size: 15px; font-weight: bold;" class="text-center">
                                            Pas des revendeurs !
                                        </td>
                                        </tr>
                                     

                                {% endfor %}


                                </tbody>
                            </table>
                            
                        </div>
                    </div>


                </div>
            </div>

        </div>


    
    </div>
    </div>
    </div>


{% endblock %}


{% block css %}
	<link rel="stylesheet" href="{{ asset('assets/css/navigation-basic.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/slicknav/slicknav.min.css') }}">
{% endblock %}

{% block script %}
    <script src="{{ asset('assets/slicknav/jquery.slicknav.min.js') }}"></script>
{% endblock %}



