{% extends 'home.html.twig' %}

{% block body %}
    <h1>Revendeur</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ revendeur.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ revendeur.code }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('revendeur_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('revendeur_edit', { 'id': revendeur.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
