{% extends 'base.html.twig' %}

{% block body %}


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    {{ form_start(edit_form) }}
                    <div class="card-header card-header-text" data-background-color="rose">
                        <h4 class="card-title"> Modifier Utilisateur </h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <label class="col-sm-2 label-on-left">Nom & Prénom :</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{ form_widget(edit_form.nom) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{ form_widget(edit_form.prenom) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left">Numéro :</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{ form_widget(edit_form.numTel) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{ form_widget(edit_form.numFix )}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 label-on-left"> Adresse :</label>
                            <div class="col-md-4 col-md-offset-1">

                                <div class="form-group label-floating is-empty ">
                                    <label class="control-label"></label>
                                    {{ form_widget(edit_form.adress) }}


                                </div>

                            </div>

                        </div>
                    <div class="row">
                        <div class="col-sm-5"></div>


                        <div class="col-sm-2">
                            <a  class="btn btn-fill-info" href="{{ path('user_index') }}">Retour à la liste</a>
                            {{ form_end(edit_form) }}
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-fill btn-rose">Modifier </button>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Supprimer" class="btn btn-fill btn-rose"/>
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                        <div class="col-md-3 col-md-offset-9">



                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
