{% extends 'base.html.twig' %}
{% block title %}
        Liste Des Produits
      {% endblock %}

      {% block recherche %}

<form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-search is-empty">
                      <input type="text" id="recherche" class="form-control" placeholder="Recherche" >
                      <span class="material-input"></span>
                    </div>
                    <a id ="rech"  onclick = "recherche()" style="margin:0;" class="btn btn-white btn-round btn-just-icon" >
                      <i class="material-icons">search</i>
                      <div class="ripple-container"></div>
                    </a>
                  </form>
{% endblock %}
{% block body %}
                       

    <div class="container-fluid" id="tab_vende">
                   <div class="row">
                       <div class="col-md-12">
                           <div class="card">
                            <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons"> <a href="{{ path('type_produit_index') }}" > category</a></i>
                    </div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                <th th class="text-center">Type</th>
                <th th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th class="text-center">{{ type_produit.type }}</td>
                <td th class="text-center">
                    <span>  <a href="{{ path('type_produit_edit', { 'id': type_produit.id }) }}"  rel="tooltip" class="btn btn-success btn-simple">
                                                       <i class="material-icons">edit</i>
                                                   </a>
                                                   <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <p style=" font-size: 15px; font-weight: bold;" > Confirm Submit </p>
                                                            </div>
                                                            <div class="modal-body">  
                                                                <p style="color:red; font-size: 15px; font-weight: bold;"> Tu est sur de supprimer Le Produit {{ type_produit.type }} !? </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-success success" data-dismiss="modal">Annuler</button>
                                                                <a href="{{ path('type_produit_delete', { 'id': type_produit.id }) }}" id="submit" class="btn btn-danger danger">Supprimier</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                   <a name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit"  rel="tooltip" class="btn btn-danger btn-simple">
                                                       <i class="material-icons">close</i>
                                                   </a>
                                               </span>                        
                </td>
            </tr>
        </tbody>
    </table>
     </div>
                    </div>


                </div>
    <div class="col-md-3 col-md-offset-9">
        <a href="{{ path('type_produit_new') }}"  class="btn btn-info" >Ajouter Type</a><div class="ripple-container"></div>
        </a>
    </div>

</div>
    </div>
    </div>
{% endblock %}
