{% extends 'admin.html.twig' %}


{% block body %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons"> <a href="{{ path('vende_index') }}" > store_mall_directory</a></i>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table" >
                                <thead>
                                <tr>
                                    <th class="text-center"><a style=" color : black; font-weight: normal;" href="{{ path('produits_index') }}" > Nom Produit </a></th>
                                    <th class="text-center">Prix Vente</th>
                                    <th class="text-center">Date Activation</th>
                                    <th class="text-center">Date Expiration</th>
                                    <th class="text-center">Nom Client</th>
                                    <th class="text-center">Numtel</th>
                                    <th class="text-center">Numfix</th>
                                    <th class="text-center">Adress</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Credit</th>
                                    <th class="text-center">Deponse</th>
                                    <th class="text-center">Utillisateur</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr {% if  vende.restPay > 0 %} style="color:red;" {% endif %}>
                                        <td class="text-center"><b>{{ vende.produits }}</b></td>
                                        <td class="text-center" style=" color : green; font-weight: bold;">{{ vende.prixVend }} DT</td>
                                        <td class="text-center">{{ vende.dateAc|date("Y-m-d") }}</td>
                                        <td class="text-center" style=" color : red; font-weight: bold;">{{ vende.dateEx |date("Y-m-d")}}</td>
                                        <td class="text-center">{{ vende.nompreCli }}</td>
                                        <td class="text-center">{{ vende.numTel }}</td>
                                        <td class="text-center">{{ vende.numFix }}</td>
                                        <td class="text-center">{{ vende.adress }}</td>
                                        <td class="text-center">{{ vende.email }}</td>
                                        {% if  vende.restPay > 0 %}
                                            <td class="text-center" style=" color : red; font-weight: bold;">{{ vende.restPay }}</td>
                                            <td class="text-center" style=" color : green; font-weight: bold;">{{ vende.deponse }}</td>
                                        {% else %}
                                            <td class="text-center" style=" color : green; font-weight: bold;">Non</td>
                                            <td class="text-center" style=" color : green; font-weight: bold;">Payer</td>
                                        {% endif %}
                                        <td class="text-center">{{ vende.user }}</td>
                                        <td class="text-center">
                                               <span>  <a href="{{ path('vende_edit', { 'id': vende.id }) }}"  rel="tooltip" class="btn btn-success btn-simple">
                                                       <i class="material-icons">edit</i>
                                                   </a>
                                                 <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <p style=" font-size: 15px; font-weight: bold;" > Confirm Submit </p>
                                                            </div>
                                                            <div class="modal-body">  
                                                                <p style="color:red; font-size: 15px; font-weight: bold;"> Tu est sur de supprimer cette Vente !? </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-success success" data-dismiss="modal">Annuler</button>
                                                                <a href="{{ path('produits_delete', { 'id': vende.id }) }}" id="submit" class="btn btn-danger danger">Supprimier</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                   <a name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit"  rel="tooltip" class="btn btn-danger btn-simple">
                                                       <i class="material-icons">close</i>
                                                   </a>
                                               </span></td>

                                               </tr>
                                    

                                </tbody>
                            </table>


                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
    <div class="col-md-3 col-md-offset-9">
        <a href="{{ path('vende_edit', { 'id': vende.id }) }}"  class="btn btn-info" > Modifier Vente</a><div class="ripple-container"></div>
    </div></a>
    </div>



{% endblock %}



